/* Start screen About us */
.about-section {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg,#f0ebe2,#79533a);

}

.about-section {
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.image-container {
    flex: 1;
    text-align: center;
    margin-inline-end: 100px;
}

.image-container img {
    width: 125%;
    border-radius: 50%;

}

.text-container {
    flex: 2;
    padding-left: 20px;
    margin-inline-end: 100px;
}

.text-container h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
}

.text-container p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    text-align: center;
}

.social-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.icon {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3b3b3b;
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    transition: all 0.3s ease;
}

.icon:hover {
    background-color: #ece1e1;
    color: brown;
    transform: scale(1.1);
}

.icon.facebook {
    background-color: #0e4fdb;
}

.icon.instagram {
    background-color: #E1306C;
}
/* end screen about_us */