 /* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body */
body {
    line-height: 1.6;
    background: linear-gradient(135deg,#f0ebe2,#79533a);
    color: #333;
}

/* Navbar */
 

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

 

/* Contact Section */
.contact-section {
    padding: 50px 20px;
    max-width: 1100px;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 60px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.contact-info {
    width: 45%;
    list-style: none;
}

.contact-info ul li {
    margin-bottom: 15px;
    font-size: 16px;
}

.contact-info i {
    color: #4b1f1f;
    margin-right: 10px;
}

/* Contact Form */
.contact-form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form textarea {
    resize: vertical;
}

.submit-btn {
    background-color: #6a4b3d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background: #472910;
}

/* Footer */
footer {
    background: #6a4b3d;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 200px;
}

.footer-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    color: #f39c12;
}
